**Practical Questions**

**1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.**

In [2]:
def sum_of_even(numbers):
    return sum(num for num in numbers if num % 2 == 0)
print(sum_of_even([1, 2, 3, 4, 5, 6]))

12


**2. Create a Python function that accepts a string and returns the reverse of that string.**

In [3]:
def reverse_string(s):
    return s[::-1]
print(reverse_string("Python"))

nohtyP


**3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.**

In [4]:
def square_list(numbers):
    return [x ** 2 for x in numbers]

print(square_list([1, 2, 3, 4]))

[1, 4, 9, 16]


**4. Write a Python function that checks if a given number is prime or not from 1 to 200.**

In [5]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

for i in range(1, 201):
    if is_prime(i):
        print(i,end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199


**5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.**

In [ ]:
class FibonacciIterator:
    def _init_(self, max_terms):
        self.max_terms = max_terms
        self.a = 0
        self.b = 1
        self.count = 0

    def _iter_(self):
        return self

    def _next_(self):
        if self.count >= self.max_terms:
            raise StopIteration
        value = self.a
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return value


for num in FibonacciIterator(10):
    print(num,end=' ')


**6. Write a generator function in Python that yields the powers of 2 up to a given exponent.**

In [10]:
def powers_of_two(n):
    for i in range(n + 1):
        yield 2 ** i

for power in powers_of_two(5):
    print(power, end=' ')

1 2 4 8 16 32


**7. Implement a generator function that reads a file line by line and yields each line as a string.**

In [13]:
def read_file_lines(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()



**8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.**

In [14]:
data = [(1, 5), (3, 2), (2, 8), (4, 1)]
sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)  # Output: [(4, 1), (3, 2), (1, 5), (2, 8)]

[(4, 1), (3, 2), (1, 5), (2, 8)]



**9. Write a Python program that uses map() to convert a list of temperatures from Celsius to Fahrenheit.**

In [15]:
celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))

print(fahrenheit)  # Output: [32.0, 50.0, 68.0, 86.0, 104.0]

[32.0, 50.0, 68.0, 86.0, 104.0]



**10. Create a Python program that uses 'filter() to remove all the vowels from a given string.**

In [16]:
def remove_vowels(text):
    vowels = 'aeiouAEIOU'
    return ''.join(filter(lambda ch: ch not in vowels, text))

# Example usage:
print(remove_vowels("Hello World"))

Hll Wrld


**11. Imagine an accounting used in a book shop. It works on a list with sublists, which look like this:**

**Order Number       Book title and author      Quantity   Price per Item**
**34587              Learning Python, Mark Lutz     4         40.96**
**98762              Programming Python, Mark Lutz  5         56.80**
**77226              Head First Python, Paul Barry  3         32.95**
**88112          Einfuhrung in Python3, Bernd Klein 3         24.99**

**Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10,- € if the value of the order is smaller than 100,00 €.**

**Write a Python program using lambda and map.**

In [17]:

orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]


result = list(map(lambda order: (
    order[0],
    round(order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0), 2)
), orders))

print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]